.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea/
*.iml
example/.flutter-plugins-dependencies
fvm
.vscode/settings.json
example/ios/Flutter/flutter_export_environment.sh
